@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

/* Splashscreen */
#splashscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f7;
  background-position: center;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 1;
}

#splashscreen-logo {
  opacity: 0;
  max-width: 80%;
  height: auto;
}

#splashscreen-logo.show {
  opacity: 1;
  transition: opacity 1s ease-in;
}

#splashscreen.hidden {
  opacity: 0;
  transition: opacity 1s ease-out;
}

/* General */
body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  background-image: url(./img/bg-pc.jpg);
  color: #1d1d1f;
}

a {
  text-decoration: none;
  color: #1d1d1f;
}

header {
  background: rgba(38, 38, 38, 0.65);
  box-shadow: 0 8px 32px 0 rgba(185, 185, 185, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  padding: 20px;
  text-align: center;
  color: #f5f5f7;
}

h2 {
  margin: 0;
  font-size: 2em;
}

main {
  padding: 50px 0px;
  text-align: center;
  margin-bottom: 20px;
}

hr {
  border: none;
  border-top: 1px solid #d2d2d7;
  margin: 0px 0;
}

footer {
  background-color: #f5f5f7;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
}
footer a {
  text-decoration: underline;
}

/* Page w/prev-btn */
.wprev-header {
  display: flex;
}

.wprev-header > h2 {
  margin: 0;
  font-size: 2em;
}

.back-btn {
  margin-right: 1vw;
  height: 2.3em;
}

/* Index page */
.app-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.app-container a {
  display: block;
  background-color: #0071e3;
  color: #ffffff;
  padding: 15px 30px;
  border: none;
  border-radius: 980px;
  margin: 10px;
  font-size: 1.1em;
  cursor: pointer;
}

.app-container a:hover {
  background-color: #117ae3;
}

/* Guide page */
.card {
  background-color: #ffffff;
  border-radius: 18px;
  padding: 20px;
  margin: 20px auto;
  max-width: 500px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-bottom: 10px;
}

.card p {
  color: #5c5c5e;
}

.card a {
  text-decoration: underline;
}

/* Styles for screens smaller than 768px */
@media (max-width: 768px) {
  body {
    background-image: url(./img/bg.jpg);
  }
  .wprev-header > h2 {
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
  }
  .app-container {
    flex-direction: column;
  }
  .back-btn {
    height: 2em;
  }
}
